<?php

define('FLICKR_NSID', '123456789');
define('FLICKR_COLLECTION_ID', '123456789');

$config = array(
	'apiKey' => 'xxx',
	'secret' => 'yyy'
);

$base = dirname(dirname(dirname(__FILE__)));

require_once $base.'/vendor/doctrine2-common/lib/Doctrine/Common/ClassLoader.php';
$loader = new \Doctrine\Common\ClassLoader('Zend', realpath($base.'/vendor/zend-framework/library'));
$loader->setNamespaceSeparator('_');
$loader->register();

$loader = new \Doctrine\Common\ClassLoader('Doctrine\Common', realpath($base.'/vendor/doctrine2-common/lib'));
$loader->register();

$loader = new \Doctrine\Common\ClassLoader('Sirprize\Rest', realpath($base.'/vendor/sirprize-rest/lib'));
$loader->register();

$loader = new \Doctrine\Common\ClassLoader('Sirprize\Flickr', realpath($base.'/lib'));
$loader->register();


set_include_path(
	implode(
		PATH_SEPARATOR,
		array(
    		realpath($base.'/vendor/zend-framework/library'),
		)
	)
);

date_default_timezone_set('UTC');

$frontendOptions = array(
	'lifetime' => 7200,
	'automatic_serialization' => true
);

$backendOptions = array(
	'cache_dir' => dirname(dirname(__FILE__)).'/_cache/'
);

$cache = \Zend_Cache::factory('Core', 'File', $frontendOptions, $backendOptions);